body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.functionValue {
  position: absolute;
  z-index: 2;
  display: inline-block;
  padding: 5px;
  background-color: white;
  border-radius: 0px 0px 10px 0px;
}

.container {
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  overflow: visible;
  border: 1px solid black;
}

.content {
  width: 0;
  height: 0;
  position: absolute;
}

.content .block {
  pointer-events: none;
  user-select: none;
  position: absolute;
}

.panel {
  position: absolute;
  height: 100%;
  width: 250px;
  top: 0;
  right: 0;
  z-index: 3;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkboxContainer {
  margin: 10px 0 20px;
}

.checkboxContainer .fastModeCheckbox {
  display: inline-block;
}

.sliderContainer {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 40px 1fr 40px;
  margin-bottom: 20px;
}

.sliderContainer .description {
  grid-column: span 3;
}

.sliderContainer .textInput {
  display: inline-flex;
  text-align: center;
  border-width: 0px;
  width: 40px;
}

.sliderContainer .slider {
  width: auto;
}

.panel .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inputContainer {
  width: 100%;
  margin-top: 10px;
}

.inputContainer .description {
  margin-bottom: 10px;
  color: #777;
}

.inputContainer .description .tab {
  display: inline-block;
  width: 24px;
}

.inputContainer textarea {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

.panel.--expressionMode .codeContainer {
  display: none;
}
.panel.--codeMode .expressionContainer {
  display: none;
}

.errorOutput {
  color: red;
}
