body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
}

.messages {
  height: 100%;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column-reverse;
}
.messages .message {
  display: inline-block;
  max-width: 300px;
  position: relative;
  display: flex;
  background-color: #eee;
  margin: 5px;
  border-radius: 10px;
}

.messages .message .iconContainer {
  position: relative;
  height: 80px;
  width: 80px;
  min-width: 80px;
  padding: 10px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 100px;
}
.messages .message .iconContainer .icon {
  width: 80%;
  height: 80%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.messages .message .textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}
.messages .message .textContainer .title {
  margin: 0;
  padding: 10px 0 5px;
}
.messages .message .textContainer .text {
  margin: 0;
  padding: 0 0 10px;
}

.messages .message .optionsContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.messages .message .optionsContainer .option {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.messages .message .closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  width: 20px;
  height: 20px;
  background-image: url('/img/icons/close.svg');
  background-size: cover;
  cursor: pointer;
}

.functionValue {
  position: absolute;
  z-index: 2;
  display: inline-block;
  padding: 5px;
  background-color: white;
  border-radius: 0px 0px 10px 0px;
}

.controlButtons {
  position: absolute;
  top: 100px;
  z-index: 2;
  display: inline-block;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0px 7px 7px 0px;
}

.controlButtons .button {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;

  margin-bottom: 5px;
}
.controlButtons .button:last-child {
  margin-bottom: 0px;
}

.container {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  overflow: hidden;
  border: 1px solid black;
}

.content {
  width: 0;
  height: 0;
  position: absolute;
}

.content .block {
  pointer-events: none;
  user-select: none;
  position: absolute;
}

.panel {
  position: absolute;
  height: 100%;
  width: 250px;
  top: 0;
  right: 0;
  z-index: 3;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkboxContainer {
  margin: 10px 0 20px;
}

.checkboxContainer .fastModeCheckbox {
  display: inline-block;
}

.sliderContainer {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 40px 1fr 40px;
  margin-bottom: 20px;
}

.sliderContainer .description {
  grid-column: span 3;
}

.sliderContainer .textInput {
  display: inline-flex;
  text-align: center;
  border-width: 0px;
  width: 40px;
}

.sliderContainer .slider {
  width: auto;
}

.panel .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inputContainer {
  width: 100%;
  margin-top: 10px;
}

.inputContainer .description {
  margin-bottom: 10px;
  color: #777;
}

.inputContainer .description .tab {
  display: inline-block;
  width: 24px;
}

.inputContainer textarea {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

.panel.--expressionMode .codeContainer {
  display: none;
}
.panel.--codeMode .expressionContainer {
  display: none;
}

.errorOutput {
  color: red;
}
